@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap");
body {
  background-color: #00001a;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  font-size: 20px;
}
@media (min-width: 786px) {
  body .page-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #a64dff;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  color: #c1e481;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #82e3d7;
  transform: scale(1.1);
}

@media (min-width: 786px) {
  .intro {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    column-gap: 10px;
    width: 100%;
  }
}
.intro header {
  border-top: 2px #82e3d7 solid;
  border-left: 2px #82e3d7 solid;
  border-right: 2px #82e3d7 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px 10px 20px;
  height: 100%;
}
@media (min-width: 786px) {
  .intro header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }
}
.intro header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  color: #82e3d7;
}
.intro header h2 {
  text-align: center;
  font-size: 3rem;
}
.intro .summary {
  border-bottom: 2px #82e3d7 solid;
  border-left: 2px #82e3d7 solid;
  border-right: 2px #82e3d7 solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px 10px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 786px) {
  .intro .summary {
    grid-column: 1;
    grid-row: 2;
  }
}

.preamble {
  background: radial-gradient(circle, #22063e 0%, #00001a 100%);
  border: 2px #82e3d7 solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}
@media (min-width: 786px) {
  .preamble {
    height: 100%;
    grid-column: 2/4;
    grid-row: 1/3;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}
.preamble h3 {
  font-size: 2.5rem;
  text-align: center;
}

@media (min-width: 786px) {
  .main.supporting {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 15px;
  }
}
.main.supporting h3 {
  font-size: 1.8rem;
  text-align: center;
}
.main.supporting .explanation {
  border: 2px #82e3d7 solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}
@media (min-width: 786px) {
  .main.supporting .explanation {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }
}
.main.supporting .explanation:after {
  content: "";
  display: inline-block;
  background: url("1541125829.svg");
  height: 180px;
  width: 100%;
}
.main.supporting .requirements {
  background: radial-gradient(circle, #22063e 0%, #00001a 100%);
  border: 2px #82e3d7 solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}
@media (min-width: 786px) {
  .main.supporting .requirements {
    grid-column: 2;
    grid-row: 2/4;
  }
}
.main.supporting .participation {
  background: radial-gradient(circle, #22063e 0%, #00001a 100%);
  border: 2px #82e3d7 solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}
.main.supporting .benefits {
  background: radial-gradient(circle, #22063e 0%, #00001a 100%);
  border: 2px #82e3d7 solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

@media (min-width: 786px) {
  .sidebar .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
  }
  .sidebar .wrapper .zen-resources {
    margin-top: 10px;
  }
}
.sidebar ul {
  padding-left: 0px;
}
.sidebar ul li {
  padding-left: 0;
  padding-right: 0;
  float: none;
  width: auto;
  padding: 1.1em;
  font-size: 0.6em;
}
.sidebar ul li a {
  margin-bottom: 0.25em;
  font-style: normal;
  text-decoration: none;
}
.sidebar ul li .design-name {
  text-transform: none;
  display: block;
  font-size: 1.4em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
  width: 100%;
}
footer a {
  font-size: 22px;
  text-decoration: none;
  transition: all 0.45s;
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
footer a:hover {
  border-bottom: 2px #82e3d7 solid;
}

/*# sourceMappingURL=style.css.map */
