@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');

// color palette 
$color-1: #a64dff; // Purple
$color-2: #00001a; // Dark Blue - page background
$color-3: #82e3d7; // Green - accent
$color-4: #c1e481; // Lime green - links
$color-5: #cccccc; // lt grey - text
$gradient: radial-gradient(circle, rgba(34, 6, 62, 1) 0%, rgba(0, 0, 26, 1) 100%);

// fonts
$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Playfair Display',
serif;

//layout
$border: 2px $color-3 solid;
$border-radius: 10px;
$padding: 10px 20px 10px 20px;
$top-margin: 20px;

@mixin box {
    border: $border;
    border-radius: $border-radius;
    margin-top: $top-margin;
    padding: $padding;
}

@mixin large-screen {
    @media (min-width: 1050px) {
        @content;
    }
}

body {
    background-color: $color-2;
    font-family: $primary-font;
    color: $color-5;
    font-size: 20px;

    .page-wrapper {
        @include large-screen() {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    color: $color-1;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

a {
    color: $color-4;
    transition: all .2s ease-in-out;

    &:hover {
        color: $color-3;
        transform: scale(1.1);
    }
}

.intro {
    @include large-screen {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 50%);
        column-gap: 10px;
        width: 100%;
    }

    header {
        border-top: $border;
        border-left: $border;
        border-right: $border;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: $padding;
        height: 100%;

        @include large-screen {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: column;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            margin: 0;
            color: $color-3;
        }

        h2 {
            text-align: center;
            font-size: 3rem;

        }
    }

    .summary {
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        padding: $padding;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include large-screen {
            grid-column: 1;
            grid-row: 2;
        }
    }
}

.preamble {
    background: $gradient;
    @include box;

    @include large-screen {
        height: 100%;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
    }
}

.main.supporting {
    @include large-screen {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        gap: 15px;
    }

    h3 {
        font-size: 1.8rem;
        text-align: center;
    }

    .explanation {
        @include box;

        @include large-screen {
            grid-column: 1/3;
            grid-row: 1;
            display: flex;
            flex-direction: column;
        }

        &:after {
            content: '';
            display: inline-block;
            background: url('1541125829.svg');
            height: 180px;
            width: 100%;
        }
    }

    .requirements {
        background: $gradient;
        @include box;

        @include large-screen {
            grid-column: 2;
            grid-row: 2/4;
        }
    }

    .participation {
        background: $gradient;
        @include box;
    }

    .benefits {
        background: $gradient;
        @include box;
    }
}

.sidebar {
    .wrapper {
        text-align: center;
        display: inline-block;
        width: 100%;

        @include large-screen {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: 10px;

            .zen-resources {
                margin-top: 10px;
            }
        }

        h3 {
            margin-bottom: 3px;
        }

        .design-selection nav {
            background: $gradient;
            @include box;

            padding: 0;
            margin-top: 0;

            @include large-screen {
                background: transparent;
                border: 0;
                margin-top: 0;
                padding: 0;
            }
        }

        ul {
            padding-left: 0px;
            margin-top: 3px;

            li {
                padding-left: 0;
                padding-right: 0;
                float: none;
                width: auto;
                padding: 1.1em;
                font-size: .6em;

                a {
                    margin-bottom: 0.25em;
                    font-style: normal;
                    text-decoration: none;
                }

                .design-name {
                    text-transform: none;
                    display: block;
                    font-size: 1.4em;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    margin-top: $top-margin;
    list-style: none;
    width: 100%;

    a {
        font-size: 22px;
        text-decoration: none;
        transition: all 0.45s;
        width: 125px;
        height: 50px;
        transition: background-position-x 0.9s linear;
        text-align: center;

        &:hover {
            border-bottom: $border;
        }
    }
}