@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');

// color palette - these colors will be the color swatches of the Colors section

$color-1: #8c1aff; // Purple
$color-2: #00001a; // Dark Blue - page background
$color-3: #5BD9CC; // Green - accent
$color-4: #A7D438; // Lime green - links
$color-5: #cccccc; // lt grey - text


// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-2;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements */
  border: 1px solid $color-3;
  border-radius: 3px;
  background: lighten($color-2, 5%);
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xPage Navigation 

-------------------------------- */

@import 'partials/style-navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-1;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-1;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';

/* -------------------------------- 

xPage Navigation 

-------------------------------- */
@import 'partials/page-navigation';

@import 'partials/basic-style';